@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Luxurious+Script&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: rgba(24, 24, 24, 1);
}

h1, p {
    display: grid;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
h1 {
    margin-top: 100px;
    color: white;
    font-weight: 900;
}
p {
    color: gray;
}